<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Kristopher Hamilton" />

<title>Kris and Marissa's Wedding</title>
{% load staticfiles %}


<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/index.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/highlights-active.css' %}"/>
<link href="{% static 'getting_married/css/accommodations.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/body.css' %}" />

<script src="https://ajax.googleeapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'getting_married/js/modernizr-2.6.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'getting_married/js/plugins.js' %}"></script>

</head>

<body>
<div id="wrapper">
  <div id="header">
    <div id="nav">  
      <ul>
          <li><a href="{% url 'home' %}">home</a></li>
          <li><a href="{% url 'about_us' %}">about_us</a></li>
          <li><a href="{% url 'contact' %}">contact</a></li>
          <h3><a >we are getting married!!!!</a></h3>
      </ul>
    </div> <!-- end nav -->
  </div> <!-- end header -->

<div id="side-navbar-wrapper">
  <div id="sidebar">
    <ul>
        <li><a href="{% url 'wedding_event' %}">Wedding Event</a></li>
        <li><a href="{% url 'travel' %}">Travel</a></li>
      <li><a class="active" href="accommodations.html">Accommodations</a></li>
      <li><a href="{% url 'registry' %}">Registry</a></li>
      <li><a href="{% url 'photo_album' %}">Photo Album</a></li>
      <li><a href="{% url 'guest_book' %}">Guest Book</a></li>
      <li><a href="{% url 'program' %}">Program</a></li>
    </ul>
  </div> <!-- end side-navbar-wrapper -->
</div> <!-- end side bar -->

<div class="media-body">
	<h1>Accommodations</h1>
	<p id="media">We have reserved room blocks for your convenience. Please be sure to reserve your room as soon as possible to receive the special discounted rate. There is a two night minimum.</p> 
</div><!-- end media body -->
<div class="mediabody2">
    <img name="theislander" src="{% static 'getting_married/assets/the islander inn.jpg' %}"  width="300" height="250" />
        	<h4>The Islander Inn Hotel‎</h4>
   	<p>57 West First street<br />Ocean Isle Beach, Nc 28469<br />(888) 325-4753</p>
<div id="links-for-media2">
	<ul>
     <li><a href="https://www.google.com/maps/place/57+W+1st+St,+Ocean+Isle+Beach,+NC+28469/@33.8862701,-78.4404746,17z/data=!3m1!4b1!4m2!3m1!1s0x89009c8fe4e2a22d:0xe466cb84e6918df9">Get Directions >></a></li>
     <li><a href="http://www.islanderinn.com/">View Website >></a></li>
     </ul>
</div><!-- end links for media2 -->
</div><!-- end media body2 -->

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3312.1313794955995!2d-78.4404746!3d33.8862701!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89009c8fe4e2a22d%3A0xe466cb84e6918df9!2s57+W+1st+St%2C+Ocean+Isle+Beach%2C+NC+28469!5e0!3m2!1sen!2sus!4v1408763285413" width="600" height="450" frameborder="0" style="border:0"></iframe>
       
<div id="footer">
	<div id="inner">
    	<p id="home">&copy;August 2014, This site was created and managed by Kristopher Hamilton.</p>
    </div> <!-- end inner -->
</div><!-- end footer -->
</div><!-- end wrapper -->
</body>

</html>



