<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="kris hamilton">

        <title>Kris and Marissa Wedding</title>

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link type= "text/css" rel= "stylesheet" href="{% static 'getting_married/bootstrap/css/bootstrap.min.css' %}" />
        <!-- custom style for this template -->
         <link type= "text/css" rel= "stylesheet" href= "{% static 'getting_married/bootstrap/css/cover.css' %}" /> 
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    
    <div id="cp_widget_35e01929-6bad-4362-ab79-a213df674319">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_35e01929-6bad-4362-ab79-a213df674319"; cpo["_fid"] = "AoJA-x7H4F3u";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
 cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
 var c = document.getElementsByTagName("script")[0];
 c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Streaming Hosting</a> solution.<span>New Gallery 2014/6/24</span><span>height</span><span> 640</span><span>width</span><span> 480</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 810</span><span>width</span><span> 716</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span>
    461</span><span>width</span><span> 692</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span></noscript>
    
    <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Welcome</h3>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                <!--  <li><a href="#about">About</a></li> -->
                                <!--  <li><a href="#contact">Contact</a></li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class= "cover-heading">Welcome and think you for visiting our site.</h1>
                        <p class="lead">Thank you so much for visiting our wedding website! We are so excited to celebrate our special day with our family and friends. Since we are getting married in Ocean Isle, NC, we wanted to come up with this website to keep everyone informed about the wedding. This website contains wedding day details, travel information, and much more - check back for frequent updates.A Special Note for Out-Of-Town Guests: Please take a look at the Travel & Accommodations sections of our website to find useful information about transportation and hotels.</p>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p>This site was created and managed by Kristopher Hamilton.</p>
                        </div>
                    </div>

                </div>
            
            </div>

        </div>    


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'getting_married/bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>
