<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="kris hamilton">

        <title>Kris and Marissa's Wedding</title>

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link type= "text/css" rel= "stylesheet" href="{% static 'getting_married/bootstrap/css/bootstrap.min.css' %}" />
        <link type= "text/css" rel= "stylesheet" href="{% static 'getting_married/bootstrap/css/wedding_event.css' %}"/>
        <link type= "text/css" rel= "stylesheet" href="{% static 'getting_married/bootstrap/css/starter-template.css' %}" />

        
        <!-- custom style for this template -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'cover' %}">We are getting married!!!</a>
                </div>      
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    
            
           <!--  <div class="container">
            <div class="starter-template">
                <h1>Bootstrap starter template</h1>
                <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
            </div>

       </div>--><!-- /.container --> 

            <div class="container-fluid">
                <div class="row">
                     <div class="col-sm-3 col-md-2 sidebar">
                          <ul class="nav nav-sidebar">
                              <li><a href="{% url 'wedding_event' %}">Wedding Event</a></li>
                              <li><a href="{% url 'travel' %}">Travel</a></li>
                              <li><a href="{% url 'accommodations' %}">Accommodations</a></li>
                              <li><a href="{% url 'registy' %}">Registy</a></li>
                              <li><a href="{% url 'photo_album' %}">Photo Album</a></li>
                              <li class="active"><a href="{% url 'guest_book' %}">Gust Book</a></li>

                          </ul>
                    </div>
                </div>
            </div>




        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <boutwer'script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'getting_married/bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>
