<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Kristopher Hamilton" />

<title>Kris and Marissa's Wedding</title>
{% load staticfiles %}


<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/index.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/highlights-active.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/body.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/photo_album.css' %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
<div id="wrapper">
  <div id="header">
    <div id="nav">  
      <ul>
          <li><a href="{% url 'home' %}">home</a></li>
          <li><a href="{% url 'about_us' %}">about_us</a></li>
          <li><a href="{% url 'contact' %}">contact</a></li>
          <h3><a >we are getting married!!!!</a></h3>
      </ul>
    </div> <!-- end nav -->
  </div> <!-- end header -->

<div id="side-navbar-wrapper">
  <div id="sidebar">
    <ul>
        <li><a href="{% url 'wedding_event' %}">Wedding Event</a></li>
        <li><a href="{% url 'travel' %}">Travel</a></li>
        <li><a href="{% url 'accommodations' %}">Accommodations</a></li>
        <li><a href="{% url 'registry' %}">Registry</a></li>
        <li><a class="active" href="{% url 'photo_album' %}">Photo Album</a></li>
        <li><a href="{% url 'guest_book' %}">Guest Book</a></li>
        <li><a href="{% url 'program' %}">Program</a></li>
    </ul>
  </div> <!-- end side-navbar-wrapper -->
  <div id="gallery">
  <table  cellpadding=20 cellspacing=60 border=0 align=center width=70%>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-4.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-4.jpg'%}" width=100 height=150 border=0></a>


            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-10.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-10.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-16.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-16.jpg'%}" width=100 height=150 border=0></a>
    </tr>

    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-17.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-17.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-19.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-19.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-20.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-20.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-21.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-21.jpg'%}" width=100 height=150 border=0></a>
    </tr>

    <tr valign=top align=center>
           <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-30.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-30.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-33.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-33.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-36.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-36.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-43.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-43.jpg'%}" width=100 height=150 border=0></a>
    </tr>

    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-52.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-52.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-53.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-53.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-72.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-72.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-75.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/SSBENGbbbbb-75.jpg'%}" width=100 height=150 border=0></a>
    </tr>

    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8467.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8467.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8470.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8470.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8471.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8471.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8481.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8481.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8484.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8484.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8501.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8501.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8505.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8505.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8507.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8507.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8509.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8509.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8510.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8510.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8518.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8518.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8519.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8519.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8528.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8528.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8531.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8531.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8535.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8535.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8541.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8541.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8545.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8545.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8547.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8547.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8554.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8554.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8556.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8556.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8559.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8559.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8561.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8561.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8565.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8565.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8569.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8569.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8571.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8571.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8587.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8587.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8589.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8589.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8593.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8593.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8595.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8595.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8596.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8596.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8601.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8601.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8602.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8602.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8605.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8605.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8630bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8630bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8641bw.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8641bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8645bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8645bw.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8650bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8650bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8652bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8652bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8653bw.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8653bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8655bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8655bw.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8659bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8659bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8661bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8661bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8668bw.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8668bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8669bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8669bw.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8672bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8672bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8673bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8673bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8679bw.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8679bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8680bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8680bw.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8683bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8683bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8687bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8687bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8692bw.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8692bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8693.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8693.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8694.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8694.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8701bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8701bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8710bw.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8710bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8711bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8711bw.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8711.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8711.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8713.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8713.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8716.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8716.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8717bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8717bw.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8719bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8719bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8720bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8720bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8722.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8722.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8723.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8723.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8727bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8727bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8736bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8736bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8737bw.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8737.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8738bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8738bw.jpg'%}" width=100 height=150 border=0></a>
    </tr>
    <tr valign=top align=center>
            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8744bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8744bw.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8767bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8767.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8773.jpg'%}"target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8773.jpg'%}" width=100 height=150 border=0></a>

            <td><a href="{% static 'getting_married/assets/ENGLR/IMG_8777bw.jpg'%}" target='_new' title='Click to enlarge'>
        <img src="{% static 'getting_married/assets/ENGLR/IMG_8777bw.jpg'%}" width=100 height=150 border=0></a>
    </tr>

</table>
</div> <!--end gallery-->
</div><!-- end wrapper -->
       
<div id="footer">
	<div id="inner">
    	<p id="home">&copy;August 2014, This site was created and managed by Kristopher Hamilton.</p>
    </div> <!-- end inner -->
</div><!-- end footer -->
</body>

</html>



