<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Kristopher Hamilton" />

<title>Kris and Marissa's Wedding</title>
{% load staticfiles %}

<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/index.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/highlights-active.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/body.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'getting_married/css/registry.css' %}" />

<script src="https://ajax.googleeapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'getting_married/js/modernizr-2.6.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'getting_married/js/plugins.js' %}"></script>

</head>

<body>
<div id="wrapper">
  <div id="header">
    <div id="nav">  
      <ul>
          <li><a href="{% url 'home' %}">home</a></li>
          <li><a href="{% url 'about_us' %}">about_us</a></li>
          <li><a href="{% url 'contact' %}">contact</a></li>
          <h3><a >we are getting married!!!!</a></h3>
      </ul>
    </div> <!-- end nav -->
  </div> <!-- end header -->

<div id="side-navbar-wrapper">
  <div id="sidebar">
    <ul>
        <li><a href="{% url 'wedding_event' %}">Wedding Event</a></li>
        <li><a href="{% url 'travel' %}">Travel</a></li>
        <li><a href="{% url 'accommodations' %}">Accommodations</a></li>
        <li><a class="active" href="{% url 'registry' %}">Registry</a></li>
        <li><a href="{% url 'photo_album' %}">Photo Album</a></li>
        <li><a href="{% url 'guest_book' %}">Guest Book</a></li>
        <li><a href="{% url 'program' %}">Program</a></li>
    </ul>
  </div> <!-- end side-navbar-wrapper -->
</div> <!-- end side bar -->

<div class="media-body">
	<h1>Registry</h1>
    <p id="media">Here is what we are going to need after our wedding. Please take a look at all our registries.</p><br /> <br />
    	<ul>
        	<li><a href="http://www.target.com/GiftRegistrySearchViewCmd?registryType=WD&jsRequest=true&catalogId=10051&status=completePage&cumulativeTime=-1&listId=XFxrze-tiBy3jAtug0u38Q&noOfPings=&registryFirstName=kristopher&langId=-1&segmentGrpName=-1&storeId=10151&registryLastName=hamilton">Target >></a></li>
            <img name="target" src="{% static 'getting_married/assets/target.jpg' %}" width="300" height="250"/><br /><br />
            
            <li><a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541466792&eventType=Wedding">Bed Bath & Beyond>></a></li>
            <img name="target" src="{% static 'getting_married/assets/bedbathbeyond.jpg' %}" width="300" height="250"/><br /><br />

        </ul>
</div><!-- end media body -->
       
<div id="footer">
	<div id="inner">
    	<p id="home">&copy;August 2014, This site was created and managed by Kristopher Hamilton.</p>
    </div> <!-- end inner -->
</div><!-- end footer -->
</div><!-- end wrapper -->
</body>

</html>



